#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OneDriveGUI
Version=v0.2.0
Icon=icons8-clouds-48
X-Icon-Path=/home/bob/OneDrive/Python/OneDriveGUI/src/resources/images/icons8-clouds-48.ico
Exec=python /home/bob/OneDrive/Python/OneDriveGUI/src/OneDriveGUI.py
Terminal=false
Type=Application
StartupNotify=true
